.message {
  padding: 10px;
  font-size: 10px !important;
  margin: 10px;
  width: fit-content;
}
.user__messsage {
  margin-left: auto;
  color: white;
  text-align: right !important;
}
.user_card {
  background-color: #0b81ff !important;
  color: white !important;
}
.guest_Card {
  background-color: #e9e9eb !important;
}
.MuiCardContent-root:last-child {
  padding-bottom: 12px !important;
}
.MuiTypography-h5 {
  font-size: 1.3rem !important;
}
